nav {
    background: linear-gradient(to right, #f27121, #e94057);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

h1 {
    margin: 0;
    padding: 0;
    color: white;
}

button {
    border: 0px;
    font-size: 18px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);

    &:hover {
        background-color: silver;
        transform: translateY(-2px) scale(1.1);
    }
}

a {
    text-decoration: none;
}